html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(55, 59, 68), rgb(66,134,244));
    margin: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    margin: 0 auto;
}

.content-wrapper {
    display: block;
    padding-left: 4.5rem;
    padding-top: 0.75rem;

}



/* Mobile, insert to some better place without !important */
.navbar {
    background-color: hsla(0, 0%, 22.7%, 0.8) !important;
}




@media (max-width: 1000px) {
    .main-content {
        max-width: 800px;
    }

}

@media (max-width: 850px) {

    .main-content {

        width: 75%;
        padding-left: 0;
        padding-right: 0;
        min-width: 600px;
    }

    .Data > div:nth-child(2) {
        width: 100%;
    }

    .Datatable {

        width: 100%;
    }

    html, body {
        font-size: 11px !important;
    }

    .Datatable {
        font-size: 14px !important;
    }

    .main-content {
        font-size: 14px !important;
    }

    .Datatable th {

        max-width: 100px !important;
        word-wrap: break-word !important;
    }

}

@media (max-width: 700px) {

    .main-content {

        width: initial;
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: initial;
    }

    html, body {
        font-size: 9px !important;
    }

    .Datatable {
        font-size: 12px !important;
    }

    .main-content {
        font-size: 12px !important;
    }

}
