html,
body {
    height: 100%;
    margin: 0;
}



#wrapper {
    padding-top: 0rem;
    margin: 0 auto;
    height: 100vh;
    background-size: cover;
}

.content-wrapper {
    display: block;
    padding-left: 9.5rem;
    padding-top: 0.75rem;

}

