.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Times New Roman", sans-serif;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 1.25rem;
    right: 0;
}

.label-text {
    font-size: 20px;
}

.Username {
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 20rem;
    margin-bottom: 1.25rem;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.Password {
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 20rem;
    margin-bottom: 1.25rem;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.form-submit {
    background: #459ec7 linear-gradient(to bottom, #459ec7 5%, #982abd 100%);
    border-radius:15px;
	border:1px solid #195bab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Times New Roman", sans-serif;
	font-size:16px;
	padding:0.5rem 1rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #c72493;
}
.form-submit:hover {
    background: #982abd linear-gradient(to bottom, #982abd 5%, #459ec7 100%);
}
.form-submit:active {
	position:relative;
	top:1px;
}