h1 {
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-size: 2rem;
}

.Data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
}


.DatatableResult {
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 0.9em;
    font-family: "Times New Roman", sans-serif;
    min-width: 25rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.DatatableResult thead tr {
    background-color: #614298;
    color: #ffffff;
    text-align: left;
}

.DatatableResult tr:hover td {
    background-color: #634673;
}


.DatatableResult td {
    text-align: center;
    padding: 0.75rem 1rem;
    color: #ffffff;
}


.DatatableResult tbody tr.active-row {
    font-weight: bold;
    color: rgb(97, 66, 152);
}

.circle::after {
    background: white none repeat scroll 0 0;
    border-radius: 50%;
    content: " ";
    display: block;
    height: 2px;
    opacity: 0.2;
    position: absolute;
    width: 2px;
    left: 2px;
}

.changed {
    background-image: radial-gradient(ellipse at 50px 10px, #ffffff 0%, #fff 5%, #00ff00 100%);
    box-shadow: 0px 0px 40px 15px  #00ff00;
}

.notChanged {
    background-image: radial-gradient(ellipse at 50px 10px, #ffffff 0%, #fff 5%, grey 100%);
}


.clock-box {
    background: black;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(87, 45, 182, 0.71),
    0 0 5px rgba(87, 45, 182, 0.76),
    0 0 5px rgba(87, 45, 182, 0.82),
    0 0 5px rgba(87, 45, 182, 0.82);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
}
