.bg_image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.main-content {
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 18px;
    background-color: rgba(16, 35, 77, 0.45);
    background-clip: border-box;
    color: #9cb5bd;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #2aabd2;
    cursor: pointer;
}

a::before {
    box-shadow: inset 0 0 0 166px #337AB7;
}

.Working {
    width: 10px;
    height: 10px;
    margin-top: 0.5rem;
    line-height: 10px;
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    background: #0bec0d;
}

.semi-working {
    width: 10px;
    height: 10px;
    margin-top: 0.5rem;
    line-height: 10px;
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    background: #eaec6a;
}

.notWorking {
    width: 10px;
    height: 10px;
    margin-top: 0.5rem;
    line-height: 10px;
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    background: #ec021b;
}


.Datatable {
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 1em;
    font-family: "Times New Roman", sans-serif;
    min-width: 25rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.Datatable thead tr {
    background-color: #1e347b;
    color: #ffffff;
    text-align: left;
}

.Datatable tr:hover td {
    background-color: #2aabd2;
}

.Datatable th {
    text-align: center;
    padding: 1rem 1rem;
    color: #ffffff;
}

.Datatable td {
    text-align: center;
    padding: 0.75rem 1rem;
    color: #ffffff;
}

.Datatable tbody tr {
    border-bottom: 1px solid #dddddd;
    /*background: rgb(28, 82, 128);*/
    /*background: linear-gradient(90deg, rgba(28, 82, 128, 1) 45%, rgba(28, 81, 153, 1) 70%, rgba(13, 106, 129, 1) 97%, rgba(14, 122, 144, 1) 100%);*/
    /*font-family: "Times New Roman", sans-serif;*/
    font-size: 1rem;
}


